name: Check PR
on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  reviewdog:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Changed Files
        # Attempt to figure out what files have changed
        id: changes
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files_yaml: |
            workflows:
              - ".github/workflows/**"
            markdown:
              - "**/*.md"
              - "**/*.markdown"
      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        with:
          reporter: github-pr-review
          fail_level: error
          check_all_files_with_shebangs: "true"
          github_token: ${{ secrets.github_token }}
      - name: shfmt
        uses: reviewdog/action-shfmt@d8f080930b9be5847b4f97e9f4122b81a82aaeac # v1.0.4
        with:
          reporter: github-pr-review
          fail_on_error: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          shfmt_flags: -i 2
      - name: actionlint
        uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1.69.1
        if: steps.changes.outputs.workflows_any_changed == 'true'
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_level: error
      - name: markdownlint
        uses: reviewdog/action-markdownlint@3667398db9118d7e78f7a63d10e26ce454ba5f58 # v0.26.2
        if: steps.changes.outputs.markdown_any_changed == 'true'
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_level: error

  # Check the PR title conforms to 'conventional'
  pr-title:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
          regexp="^(build|ci|docs|feat|fix|perf|refactor|style|test|chore|deps)(\(.+\))?(!)?: "
          if [[ ! $PR_TITLE =~ $regexp ]]; then
            echo "PR Title is not 'conventional' matching $regexp" >> "$GITHUB_STEP_SUMMARY"
            exit 1
          fi

  dependabot-merge-trigger:
    needs:
      - reviewdog
      - pr-title
    permissions:
      contents: write
      pull-requests: read
    if: |
      github.actor == 'dependabot[bot]' &&
      github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    name: PR Trigger
    steps:
      - name: dispatch
        uses: quotidian-ennui/actions-olio/pr-trigger@main
        with:
          event_type: "dependabot-merge"
